<div class="row">
  <div class="col-12">
    <h1 class="text-center mb-5">Bienvenue sur The Gossip Project ! 🗣️</h1>
    <p class="text-center lead mb-5">Découvre tous les potins croustillants de la ville</p>
  </div>
</div>

<div class="row">
  <% @gossips.each do |gossip| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">
            <strong>Par :</strong> <%= gossip.user.first_name %>
          </p>
          <p class="card-text">
            <%= truncate(gossip.content, length: 100) %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Voir plus", "/gossips/#{gossip.id}", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
