<h1 class="m-5 text-center">Bienvenue sur The Gossip Project</h1>
<h2 class="m-5 text-center">La meilleure source pour être au courant des potins croustillants du moment.</h2>

<% @gossips.each do |gossip| %>
  <div>
    <h4><%= gossip.title %></h4>
    <p>Par <%= gossip.user.first_name %></p>
  </div>
<% end %>