
<div class="row justify-content-center pt-5">
  <div class="col-md-8">
    <div class="jumbotron card custom-card-bg text-white p-5 rounded">
      <h1 class="display-4">Bienvenue <%= current_user.first_name.capitalize %> ! 🎉</h1>
      <p class="lead">Ici c'est notre super site de potins, il est chouette, non ?</p>
      <hr class="my-4 bg-white">
      <p>Découvre tous les ragots les plus croustillants de la ville !</p>
      <%= link_to "Voir tous les potins", root_path, class: "btn btn-light btn-lg" %>
    </div>
  </div>
</div>
