
.bg {
  background-color: #898da3; 
}

.navbar-custom {
  background-color: #1c2b4f;
}

.card.custom-card-bg {
  background-color: #41496a;
  background: rgba(26, 37, 66, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-title {
  color: #1c2b4f; 
}

.custom-links {
  color: #1c2b4f; 
}